
@{
    ViewData["Title"] = "CreateInvoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mb-3 text-center">Add New Invoice For All Users</h1>
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="border border-2 border-dark p-3">
            <form method="post">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label for="Month" class="form-label">Month</label>
                    <input type="month" name="Month" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="DuesPrice" class="form-label">Dues Price</label>
                    <input type="number" name="DuesPrice" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="InvoicePrice" class="form-label">Invoice Price</label>
                    <input type="number" name="InvoicePrice" class="form-control" />
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
            @if (ViewBag.message != null)
            {
                <div class="alert alert-info mt-5">
                    @ViewBag.message
                </div>
            }
        </div>
    </div>
</div>

